{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Home' %}{% endblock %}

{% block cssHeader %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 col-md-12 col-lg-12 overflow-auto" style="max-height: 90vh;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans 'Application' %}</th>
                    <th>{% trans 'Status' %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <a href="{% url 'CommentEmotion' %}" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-title="{% trans 'Run' %}">
                            <i class="bi bi-play-circle-fill text-success"></i>
                        </a>
                        {% trans 'Text emotion classification' %}
                    </td>
                    <td><span class="badge rounded-pill text-bg-success">{% trans 'stabled' %}</span></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <a href="{% url 'MenuRecommender' %}" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-title="{% trans 'Run' %}">
                            <i class="bi bi-play-circle-fill text-success"></i>
                        </a>
                        {% trans 'Menu recommender system' %}
                    </td>
                    <td><span class="badge rounded-pill text-bg-primary">{% trans 'beta' %}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block footerScript %}
    <script src="{% static 'home/home.js' %}"></script>
{% endblock %}